html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}
.box-header .slider {
    margin: 0 10px;
}
.ratingsli-right{float:right;margin-right:50px;}
.box-header .slider.slider-horizontal {width: 150px;}
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.vehicledetails {padding: 20px !important;}
.vehical-form section {background: #ffffff;border-radius: 5px;margin-bottom: 18px;padding: 0px 0px 16px 0px;}
.catName {background: #1CB4A9;margin: 0px;color: #fff;font-size: 17px;text-transform: uppercase;font-weight: 900;padding: 11px 14px;border-radius: 5px 5px 5px 6px;}
.sub-section {border: 2px solid #ccc;padding: 0px 0px 0px 0px;margin: 14px;border: 1px solid #ccc;border-radius: 5px;}
.sub-section h2 {margin: 0px 0px 18px 0px; font-size: 15px;border-bottom: 1px solid #ccc;background: #efefef80;padding: 6px 10px;font-weight: 600;}
.innersection { padding: 0 32px 0 0;}
.field-details { border: 1px solid gray; border-radius: 28px; padding: 16px;margin-bottom: 15px;}
.seperate-fields {padding: 0px 15px 0px 15px;}
.first { margin-top: 20px;}
.second {border-left: 1px solid #ccc;}
.profile-user-img {width: auto !important;}
.category-new {
    background: #e5e5e5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0;
}
.category-new .box-header.with-border {
    border-bottom: none;
}
.category-new .box-header > .box-tools{top: 10px;}
.category-new .box-header.with-border .box-title {
    font-size: 14px;
}
.qstn-ans{border-top:1px solid #ddd;padding: 10px;background: #fff;border-radius: 0 0 3px 3px;}

.edit {

    font-size: 10px;
    letter-spacing: 0.6px;
    background: #4ca337;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    vertical-align: middle;
    text-align: center;

}
.edit:hover,.edit:focus,.edit:active{color: #fff;text-decoration: none;}
.category-new .qstn-ans h2 {

    font-size: 14px;
    color: #000;
    font-weight: 500;
    margin: 0;

}
.category-new .qstn-ans label{font-size: 12px;color: #000;font-weight: 400;}
.category-new .qstn-ans label span{padding:0 5px}
.multi-img img {

    width: 100px;
    height: auto;

}
.subcat{margin-bottom: 10px;}
.valuebox {border: 2px solid #eee; padding: 10px; margin: 18px 0px 0px 0px; border-radius: 11px;}
.multi-img {

    position: relative;

}
.deletebtn {

    position: absolute;
    right: -24px;
    color: #fff;
    font-size: 27px;
    font-weight: lighter;
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 16px;
    background: #333;
    padding-top: 7px;
    top: -32px;

}